venv/
.env
__pycache__/
**.pyc
**/**.pyc 
/bytehub/__pycache__
*.py[cod]
**$py.class
*.so
.Python
profile_default/
ipython_config.py
*.bak
.python-version
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 
*.sql
pip-log.txt 
pip-delete-this-directory.txt
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 
.ipynb_checkpoints 
*.sage.py 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
/site 
.mypy_cache/ 
sftp-config.json 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
atlassian-ide-plugin.xml
*.iws
.dmypy.json
.pyre/
.pytype/
cython_debug/
bin
lib64
*.cfg
**/migrations/**
!**migrations
!**migrations/__init__.py
*ipynb 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
db.sqlite3